@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-md-4">
        <div id="beerduty">
            @if (Model.Schedule.Count > 0)
            {
                <div id="avatar">
                    @if (Model.Schedule[0].BeerDuty.Avatar != null)
                    {
                        <img src="@(String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Schedule[0].BeerDuty.Avatar)))" title="@Model.Schedule[0].BeerDuty.Name" />
                    }
                    else
                    {
                        <img src="~/images/avatar.jpg" title="@Model.Schedule[0].BeerDuty.Name" />
                    }
                </div>
                <div id="avatar-text">
                   <h4>Beer Duty<br />@(Model.Schedule[0].Date.ToString("M/dd")) @(Model.Schedule[0].BeerDuty.Name)</h4>
                </div>
            }
        </div>
        <div id="leaderboard">
            <h3>@Model.Season Leaderboard</h3>
            <table class="table">
                <tr>
                    <th>Rank</th>
                    <th>Golfer</th>
                    <th class="text-right">Par-3s</th>
                    <th class="text-right">Wins</th>
                    <th class="text-right">Points</th>
                    <th class="text-right">Behind</th>
                </tr>
                @foreach (GolferSeasonTotal golfer in Model.Leaderboard)
                {
                    <tr>
                        <td>@golfer.Rank</td>
                        <td><a href="/Statistics?golfer=@golfer.Golfer.Alias">@golfer.Golfer.Name</a></td>
                        <td class="text-right">@golfer.Par3Wins</td>
                        <td class="text-right">@golfer.GameWins</td>
                        <td class="text-right">@golfer.TotalPoints</td>
                        <td class="text-right">@golfer.PointsBehind</td>
                    </tr>
                }
            </table>
        </div>
        <div id="twitter">
            <a class="twitter-timeline" href="https://twitter.com/@Configuration["AppSettings:TwitterUsername"]?ref_src=twsrc%5Etfw" data-tweet-limit="5">Tweets by @Configuration["AppSettings:TwitterUsername"]</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="col-md-8">
        <a class="weatherwidget-io" href="https://forecast7.com/en/44d85n93d04/inver-grove-heights/?unit=us" data-label_1="Arbor Pointe Golf Club" data-theme="original">Arbor Pointe Golf Club</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
        <br />

        @if (Model.Schedule.Count > 0)
        {
            <div id="rounds">
                <h3>Upcoming Rounds</h3>
                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
                        <th>Game</th>
                        <th>Beer</th>
                        <th>Food</th>
                    </tr>
                    @foreach (Round round in Model.Schedule)
                    {
                        <tr>
                            <td>@round.Date.ToString("ddd M/dd")</td>
                            <td>@round.Date.ToString("h:mm tt")</td>
                            <td>@if (round.IsMajor){<i class="fa fa-trophy" title="Major">&nbsp;</i>}@round.Name</td>
                            <td>@round.Game</td>
                            <td>@round.BeerDuty.Name</td>
                            <td>@round.FoodDuty.Name</td>
                        </tr>
                    }
                </table>
            </div>
        }

        @if (Model.Champions.Count > 0)
        {
            <div id="champions">
                <h3>Past Champions</h3>
                <table class="table" id="champions">
                    <tr>
                        <th>Season</th>
                        <th>Champion</th>
                        <th>Par-3s</th>
                        <th>Wins</th>
                        <th>Points</th>
                        <th>Runners Up</th>
                    </tr>
                    @foreach (SeasonChampion season in Model.Champions)
                    {
                        <tr>
                            <td class="fa-2x">@season.Season</td>
                            <td>
                                @if (season.Champion.Golfer.Avatar != null)
                                {
                                    <img class="avatar" src="@(String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(season.Champion.Golfer.Avatar)))" title="@season.Champion.Golfer.Name" />
                                }
                                else
                                {
                                    <img class="avatar" src="~/images/avatar.jpg" title="@season.Champion.Golfer.Name" />
                                }
                                <a href="/Statistics?golfer=@season.Champion.Golfer.Alias&season=@season.Season" class="fa-2x">@season.Champion.Golfer.Name</a>
                            </td>
                            <td>@season.Champion.Par3Wins</td>
                            <td>@season.Champion.GameWins</td>
                            <td>@season.Champion.TotalPoints</td>
                            <td>
                                2nd: <a href="/Statistics?golfer=@season.RunnerUp.Golfer.Alias&season=@season.Season">@season.RunnerUp.Golfer.Name</a>
                                <br />
                                3rd:
                                <a href="/Statistics?golfer=@season.SecondRunnerUp.Golfer.Alias&season=@season.Season">@season.SecondRunnerUp.Golfer.Name</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>